header {
	background: $orange;
	padding-top: 10vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	
	.container {
		flex-direction: column;
	}

	.logo {
		width: 15rem;
		fill: hsla(2,52%,9%,1);
		margin: auto;
		height: 100%;
		transition: 0.3s ease;

		&:hover {
			transform: rotate(10deg);
		}
	}
}