html {
	font-size: 10px;
	font-size: 62.5%;
}


a {
	color: $white;
	text-decoration: none;
	font-family: $secondText;
}

i {
	font-size: 2.5rem;
	color: $icon;
}

/* headers */
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

h1,h2 {
	font-weight: bold;
	color: $white;
	text-align: center;
}

h1,h2,h3 {
	font-family: $mainText;
}

h1 {
	font-size: 8.5rem;
	letter-spacing: 0.15rem;
	text-shadow: 8px 8px 0 #000;

	@media (max-width: 550px) {
		font-size: 6.5rem;
	}

	@media (max-width: 440px) {
		font-size: 4.5rem;
	}
}

h2 {
	font-size: 3.5rem;
	display: inline-block;
	margin-bottom: 20px;

	@media (max-width: 440px) {
		font-size: 2.5rem;
	}
}

a {
	text-align: center;

	i {
		transition: 0.3s ease-in;
		
		&:hover{
			color: $darkOrange;
		}
	}
}

h3 {
	font-size: 3.5rem;
	padding-bottom: 75px;
	position: relative;
	display: inline-block;
	color: $green;
	

	&:after {
		content: '';
		height: 3px;
		width: 30%;
		position: absolute;
		bottom: 60px;
		background: rgba(0,0,0,0.3);
		left: (50% - 15%);
	}
}

.portfolio h3,
.contact h3 {
	color: $white;
	text-shadow: 4px 5px 0 #333;	
}

h5 {
	font-size: 1.6rem;
	word-wrap: wrap;
}

h6 {
	color: #FEFFFF;
    margin: 20px 0;
    font-size: 1.2rem;
}





/* paragraphs */

p {
	line-height: 1.5;
	letter-spacing: 0.1rem;
	font-size: 1.6rem;
	font-family: $mainText;
	color: $white;
}

.about,
.skills {
	p {
		color: $grey;
	}
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
	font-weight: bold;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}