$orange: #DB6865;
$darkOrange: #87403E;
$white: #FEFFFF;
$green: #3D7AA8;
$formGreen: #3B6A8E;
$nav: #333;
$grey: #A7A8A9;
$icon: #F1F2EC;

$mainText: 'Titillium Web', sans-serif;
$secondText: 'Lato', sans-serif;

.flexCenter {
	justify-content: center;
	align-items: center;
}